$bluedark: #4b49ac !default;

$primary: $bluedark !default;
$secondary: #a3a4a5 !default;
$success: #57B657 !default;
$info: #248AFD !default;
$warning: #FFC100 !default;
$danger: #FF4747 !default;

$black: #000 !default;
$white: #fff !default;
