$font-size-list: 9, 10, 11, 12, 13, 14, 15, 16, 18, 20, 21, 22, 24, 28, 30, 32,
  36, 38; //Generate font class (.f-*) cycles through font-size-list

@each $font-size in $font-size-list {
  .f-#{$font-size} {
    font-size: #{$font-size * 0.0625}rem !important;
  }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.ml-2 {
  margin-left: 0.125rem;
}
.mr-2 {
  margin-right: 0.125rem;
}

.font-weight-medium {
  font-weight: 600;
}

.font-weight-light {
  font-weight: 300;
}

.text-black {
  color: $black;
}

.text-white {
  color: $white;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.bg-primary {
  background-color: $primary;
}
