.error-container {
    min-height: 100vh;
    min-width: 100vh;
    .error-number {
        margin-right: 2rem;
        font-size: 12rem;
    }
    .error-message {
        h2 {
            font-size: 2.187rem;
        }
        h3 {
            font-size: 1.525rem;
        }
    }
}