@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");

@import "core/bs-variables";

@import "../../node_modules/bootstrap";

@import "common/common";
@import "common/form-elements";
@import "core/utilities";
@import "component/button";
@import "component/checkbox-radio";
@import "component/sidebar";
@import "pages/login.scss";
@import "pages/error";
@import "pages/workflow";

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
